@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--color-bg); 
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-bg);
  color: var(--foreground);
 }



 button{
  border-radius: 20px;
 }